<div class="w-100">

<h2>Keywords</h2>
</div>

<div class="row mt-4 mb-4">
    <div class="col-7">
        <div class="row w-75">

            <div class="col" >
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Actions
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <a href="/add-keywords">
                    <button class="btn btn-primary w-100" > Add Keyword</button>
                </a>
                
            </div>
            <div class="col">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
        </div>

    

    </div>


</div>

<div class="mb-4">

    <app-keyword></app-keyword>

    <app-keyword></app-keyword>
    
    <app-keyword></app-keyword>
    
</div>


<div class="w-100 border-dark border mb-4 mt-4" ></div>

<div class="row w-25">
    <div class="col" >
        <button class="btn btn-secondary" >Cancel</button>
    </div>
    <div class="col">
        <a href="/all-campaigns">
            <button class="btn btn-primary" > Continue Next Step </button>
        </a>

    </div>
</div>

