<div class="row border-bottom border-right  border-dark p-2 ">
<div class="col-2"> <img  class="w-100" src="assets/type.jpg" /></div>
<div class="col-10">
    <div class="row">
        <div class="col h-50">
            {{product.name}}
        </div>
        <div class="w-100"></div>
        <div class="col h-50">
            {{product.price}} | {{product.stockStatus}} | {{product.code}}
            <button *ngIf="!included; else removeBlock" (click)="addProduct()" class="btn btn-secondary">Add</button>
            <ng-template #removeBlock>
                <button class="btn btn-danger" (click)="removeProduct()" >Remove</button>
            </ng-template>
            
    </div>

</div>

</div>
