
<div class="mb-4" >
    <h2   >Set your campaign budget and duration</h2>
</div>
<div>

    <form>
        <div class="form-group mb-4">
          <label for="exampleInputEmail1 " class="mb-2 text-primary">Campaign Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Example: Holiday Favorites">
       
        </div>
        <div class="form-group mb-4">
            <label  for="exampleInputEmail1" class="d-block mb-2 text-primary">Daily Budget</label>
            <div class="input-group">
    
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                
            <input type="text" class="form-control" placeholder="0.00" />
            </div>
    
        </div>
        <div class="form-group mb-4">
            <div class="row">

                <div class="col-2">

                    <label class="d-block mb-2 text-primary" for="exampleInputEmail1">Start date</label>
        
                    <input type="date" name="begin" 
                    placeholder="dd-mm-yyyy" value=""
                    >
                </div>
                <div class="col-2">
                               
        
                <label class="d-block mb-2 text-primary" for="exampleInputEmail1">
                    
                    End Date</label>
        
                <input type="date" name="begin" 
                placeholder="dd-mm-yyyy" value=""
                >
        
    
                </div>

            </div>

 
 
        </div>
        <div class="w-100 border-dark border mb-3" ></div>
    <button class="btn btn-secondary me-3"> Cancel </button>
    <a href="/product-ad-group">
        <button type="button" class="btn btn-primary">Continue next step</button>

    </a>

      </form>
</div>

