<form [formGroup]="keywordForm">
  <div class="row mb-2">

      <div class="col-6"> 
        <div>
            <label>Keyword</label>
            <input formControlName="keyword"  type="text" class="w-100" /> 

        </div>
        <ng-container *ngIf="suggestedBid$ |async as bidValue" >
            <div class="d-inline-block ml-2"> <!-- Added some margin for spacing -->
                <small class="text-primary" style="cursor: pointer;" >
                    <u>
                        <a (click)="setSuggestedBid(bidValue)">
                            Set Suggested
                        </a>

                    </u>


                    
                </small>
                <small  >| Suggested Bid: 
                  
                            {{ bidValue }}
                     


               

                </small> 
            </div>
        </ng-container>

      </div>

      <div class="col-2">  
          <label>Match Type</label>                 
          <select formControlName="matchType" class="form-control ">
              <option value="broad">Broad</option>
              <option value="exact">Exact</option>

          </select>
      </div>

      <div class="col-3"> 
          <label>Bid</label> 
          <input formControlName="bid" type="double" class="w-100" /> 
      </div>

      <div class="col-1"> 
          <!-- If this button is supposed to remove the form, you can bind a method to it -->
          <button type="button" (click)="removeKeyword()" class="btn btn-danger mt-3">X</button>  
      </div>

  </div>
</form>
